<p>Select a genre to browse sites</p>
<table>
  <% @genres.each do |genre| %>
   <tr><td>
      <a href="/bookmarks/genre/<%= genre.id %>"><%= genre.genre %></a></td>
      <td>
      <a href='/genres/<%= genre.id %>/edit'>Edit</a></td>
      <td><form method="post" action="/genres/<%= genre.id %>/delete"> <button>Delete</button>
      </form></td>
    </tr>
  <% end %>
  <tr><td><a href="/genres/new">New Genre</a></td></tr>

</table>
