<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <h1>Bookmarker App</h1>
    <nav> 
    <ul class="navlist">
        <li><a href='/bookmarks'>Show all</a></li>
        <li><a href='/genres'>Genre's</a></li>
        <li><a href="/bookmarks/new">Add new Website</a></li>
      </ul>
    </nav>
  </header>
  <%= yield %>
</body>
</html>