<label for="title">Title: </label>
<input id="title" name="bookmarks[title]" type='text' autofocus value='<%= @bookmark.title %>'>
<label for="url">URL: </label>
<input id="url" name='bookmarks[url]' type='url' value='<%= @bookmark.url %>'>
<label for="genre">Genre: </label>
<input id="genre" name='bookmarks[genre_id]' type='text' value='genre ids'> 